
/* 🌟 Dashboard Cards */
.dashboard-cards {
    display: flex;
    gap: 20px;
    margin-top: 35px;
    flex-wrap: wrap;
    justify-content: center;
    
}
.card {
    flex: 1;
    max-width: 200px;
    padding: 30px;
    background: rgba(190, 147, 153, 0.15); /* Cards ka background yahan change karein */
    backdrop-filter: blur(20px);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(110, 99, 99, 0.3);
}

.card h3 {
    font-size: 20px;
    font-weight: bold;
    color: #644afc;
}

.card p {
    font-size: 18px;
    font-weight: 500;
}